<main class="form-signin w-100 m-auto" (submit)="submit()">
    <form [formGroup]="productForm">
        <h1 class="h3 mb-3 fw-normal">Please Create</h1>

        <div class="form-floating mt-2">
            <input formControlName="title" class="form-control" name="title" />
            <label>Title</label>
        </div>
        <div class="form-floating mt-2">
            <textarea formControlName="description" class="form-control" name="desc">
            </textarea>
            <label>Description</label>
        </div>
        <div class="form-floating mt-2">
            <label>Image</label>
            <div class="input-group">
                <input formControlName="image" name="image" class="form-control" />
                <app-upload (uploaded)="productForm.patchValue({'image': $event})"></app-upload>
            </div>
        </div>

        <div class="form-floating mt-2">
            <input formControlName="price" type="number" class="form-control" />
            <label>Price</label>
        </div>

        <button class="w-100 btn btn-lg btn-primary mt-5" type="submit">Submit</button>
    </form>
</main>